.message {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 25px 10px;
  background-color: red;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message.success {
  background-color: rgb(88, 143, 6);
}
.message.error {
  background-color: red;
}

@media (max-width: 425px) {
  .login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  .wrapper {
    --input-focus: #e7291c;
    --font-color: white;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --bg-color-alt: #474747;
    --main-color: #fefefe;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flip-card__front {
    width: 100%;
    height: 40vh;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    gap: 20px;
  }

  .flip-card__back {
    width: 100%;
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }

  .flip-card__btn:active,
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  .wrapper {
    --input-focus: #e7291c;
    --font-color: white;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --bg-color-alt: #474747;
    --main-color: #fefefe;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flip-card__front {
    width: 100%;
    height: 40vh;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    gap: 20px;
  }

  .flip-card__back {
    width: 100%;
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }

  .flip-card__btn:active,
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .login {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  .wrapper {
    --input-focus: #e7291c;
    --font-color: white;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --bg-color-alt: #474747;
    --main-color: #fefefe;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
  }

  .flip-card__front {
    width: 50%;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    gap: 20px;
    border-left: 1px solid var(--font-color-sub);
  }

  .flip-card__back {
    width: 50%;
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }

  .flip-card__btn:active,
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .login {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  .wrapper {
    --input-focus: #e7291c;
    --font-color: white;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --bg-color-alt: #474747;
    --main-color: #fefefe;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
  }

  .flip-card__front {
    width: 50%;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    gap: 20px;
    border-left: 1px solid var(--font-color-sub);
  }

  .flip-card__back {
    width: 50%;
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }

  .flip-card__btn:active,
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 1441px) {
  .login {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  .wrapper {
    --input-focus: #e7291c;
    --font-color: white;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --bg-color-alt: #474747;
    --main-color: #fefefe;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
  }

  .flip-card__front {
    width: 50%;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    gap: 20px;
    border-left: 1px solid var(--font-color-sub);
  }

  .flip-card__back {
    width: 50%;
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }

  .flip-card__btn:active,
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}
