/* Estilos generales */
.userDashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75px;
  padding: 50px 0;
}

.userBoxDashboard {
  background-color: #f1f1f1;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.logout {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.logout:hover {
  background-color: red;
  color: white;
}

.infoUser {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.requestUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxRequestUser {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 25px;
}

.requestUserForm {
  width: 100%;
  background-color: #c9c8c8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 35px 10px;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.requestUserForm p {
  text-align: center;
}

.requestUserForm button {
  cursor: pointer;
  padding: 10px;
}

.requestUserForm button:hover {
  background-color: red;
  color: white;
}

/* Responsive */
@media (max-width: 425px) {
  .infoUser {
    width: 90%;
  }
  .boxRequestUser {
    height: 200px;
  }
  .logout {
    left: 35px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .infoUser {
    width: 90%;
  }
  .boxRequestUser {
    height: 200px;
  }
  .logout {
    left: 35px;
  }
}

@media (min-width: 769px) {
  .infoUser {
    width: 50%;
  }
  .boxRequestUser {
    height: 400px;
  }
  .logout {
    left: 400px;
  }
}
