/* Estilos generales */
.serviceList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;
}

.titleService {
  padding: 20px 0 25px 0;
}

.cardService {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.cardService img {
  width: 100%;
  padding: 0 0 10px 0;
}

.cardService h2 {
  font-weight: 500;
  padding: 0 0 10px 0;
}

.cardService p {
  font-weight: regular;
  color: rgb(77, 76, 76);
  width: 85%;
  text-align: center;
}

/* Media Queries */

/* Max-width: 425px */
@media (max-width: 425px) {
  .boxService {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-gap: 20px;
    justify-content: center;
  }
}

/* Min-width: 426px and Max-width: 768px */
@media (min-width: 426px) and (max-width: 768px) {
  .boxService {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-gap: 20px;
    justify-content: center;
  }
}

/* Min-width: 769px and Max-width: 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .boxService {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 5px;
    justify-content: center;
  }
}

/* Min-width: 1025px and Max-width: 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  .boxService {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 5px;
    justify-content: center;
  }
}

/* Min-width: 1441px */
@media (min-width: 1441px) {
  .boxService {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 5px;
    justify-content: center;
  }
}
